* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

body {
  position: relative;
}

section:not(.pop-up) {
  background-image: url("./background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 8rem;
  font-weight: bold;
  color: white;
  text-align: center;
}

.join {
  background-color: orangered;
  border-radius: 4px;
  padding: 1.5rem 2rem;
  font-size: 2rem;
  font-weight: bold;
  font-family: inherit;
  cursor: pointer;
}

.pop-up {
  visibility: hidden;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  background-image: url("./pop-background.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  width: 400px;
  padding: 1.5rem;
  z-index: 2;
  box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  opacity: 0;
  transition: all 0.5s;
}

.active {
  visibility: visible;
  opacity: 1;
  top: 50%;
}

i {
  align-self: flex-end;
  font-weight: bold;
  font-size: 1.5rem;
  background-color: white;
  padding: 0.3rem 0.47rem;
  border-radius: 100px;
  cursor: pointer;
}

p {
  background-color: orangered;
  align-items: center;
  justify-self: center;
  text-align: center;
  border-radius: 4px;
  padding: 0.5rem 0.75rem;
  color: white;
  font-weight: bold;
  border: 2px solid white;
}

input {
  font-family: inherit;
  width: 100%;
  padding: 0.5rem 0.7rem;
  color: orangered;
  font-size: 1.2rem;
}

input::placeholder {
  color: rgb(179, 179, 179);
  text-align: center;
}

.submit {
  font-family: inherit;
  width: 100%;
  padding: 0.5rem 0;
  background-color: orangered;
  border: 3px solid black;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.blur {
  filter: blur(5px);
}
